* {
  font-family: "Inter" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
input[type="checkbox"]:checked {
  background-color: #09aa59;
}

.buy-btn {
  background-color: #09aa59 !important;
}

.light,
input::-webkit-input-placeholder {
  color: #999 !important;
}

.light,
input {
  color: black !important;
}

.dark,
input {
  color: #999 !important;
}
